@keyframes rotate {
  0% {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  50% {
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  }
  100% {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
@keyframes rotate-2 {
  0% {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  20% {
    clip-path: polygon(0% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  }
  40% {
    clip-path: polygon(0% 75%, 0% 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%);
  }
  60% {
    clip-path: polygon(50% 100%, 0% 75%, 0% 25%, 50% 0, 100% 25%, 100% 75%);
  }
  80% {
    clip-path: polygon(100% 75%, 50% 100%, 0% 75%, 0% 25%, 50% 0, 100% 25%);
  }
  100% {
    clip-path: polygon(100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%, 50% 0);
  }
}
body {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  background-color: #283044;
}
.rotate {
  animation: rotate 15s linear infinite;
}
.img-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header-img {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-image: url(../images/IMG_1784.JPG);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  animation: rotate-2 60s linear infinite;
}

.about {
  width: 85%;
  background-color: #136f63;
  padding: 1rem;
  color: #d9dbf1;
  border-radius: 0.5rem;
}
.about h3 {
  color: #d19c1d;
}
